
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<div class="Cadastro">

    <form action="@Html.Action("CadastroUsuario","Cadastro")"method="post"></form>

    <div class="form-group">
        <label>Nome</label>
        <input placeholder="Nome" type="text" value="" />
        </div>


        <div class="form-group">
            <label>Nome</label>
            <input placeholder="Nome" type="text" value="" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input placeholder="Email" type="text" value="" />
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input placeholder="Senha" type="text" value="" />
                    


                    <div class="form-group">
                        <label>Nascimento</label>
                        <input placeholder="Nascimento" type="text" value="" />





                    </div>

                </div>