@using WebApplicationMVC.Models

@model WebApplicationMVC.Models.LoginViewData

@{ 

//var model = new LoginViewData();
//model.Titulo = "Fazer Login";
//model.Lista = new List<string>();
//model.Lista.Add("Nome");
//model.Lista.Add("Email");
//model.Lista.Add("Senha");
}

<div class="container">
    <div class="row">
        <div class="login">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="image">
                                <img src="~/assets/images/login.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="roow">
                            <form class="fomulario">
                                @*<h1 class="text-center">@Login.Titulo</h1>*@
                                <div class="form-group">
                                    <label for="exempleInputEmail1"></label>
                                    <i class="fas fa-envelope"></i>
                                    <input type="email" class="form-control" id="exempleInputEmail1" aria-describedby="emailHelp" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <label for="exempleInputEmail1"></label>
                                    <i class="fas fa-lock"></i>
                                    <input type="password" class="form-control" id="exempleInputPassword1" placeholder="Senha">
                                </div>
                                <div class="btn-login">
                                    <button type="submit" class="btn btn-primary">LOGIN</button>
                                </div>
                                <div class="creat">
                                    <a class="recup-senha" href="#"> Esqueci Usuário/Senha</a>
                                    <a class="creat" href="#">Crie a Sua Conta</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div>
    @foreach(var item in Login.Lista)
    {
        if(item == "Nomes")
        {
            <p>@item</p>
        }
        else
        {
            <h1>@item</h1>
        }
    }

</div>*@